/////////////////////
// Portfolio grid  //
/////////////////////
.portfolio-item {
    /* <a> is inline by default. Set it to block so that it's contained block elements work properly */
    display: block;
    /* allow children to use absolute */
    position: relative;
    /* space it out from other portfolio items */
    margin: 15px 0px;
}

.portfolio-hover {
    /* make the block transparant */
    opacity: 0;
    /* fill a block the size of our relative parent */
    position: absolute;
    width: 100%;
    height: 100%;
    /* make the background faded teal */
    background: rgba($brand-primary, 0.8);
    /* turn on effects so we have a nicer transition */
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

.portfolio-hover-content {
    /* enable top and other absolute positioning items */
    position: absolute;
    /* horizontal center*/
    top: 50%;
    height: 20px;
    margin-top: -30px;
    /* vertical center */
    width: 100%;
    text-align: center;
    /* make the icon larger and white */
    font-size: 20px;
    color: #fff;
}

.portfolio-hover:hover {
    /* Show our hover effect */
    opacity: 1;
}
