@import 'partials/mixins'; // custom mixins
@import 'partials/variables.scss'; // colors, fonts etc...
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import 'portfolio-hover-effect.scss';
@import 'timeline.scss';

// Border box and don't show horizontal scrollbar
body {
     overflow-x: hidden;
     overflow-y: scroll;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}


// Utility class to make something full screen
.fullscreen {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: auto;
    height: 100%;
    z-index: -1;
}

// Utility class to center something at the bottom of the page
.bottom-center {
    bottom: 10px;
    left: 50%;
    position: absolute;
    #more {

        color: #fff;
    }
}

// Start all content after our navbar
.content > section {
    padding-top: $navbar-height;
}

// a full page background
.toronto {
    // source: https://pixabay.com/en/toronto-city-cn-tower-skydome-698496/
    //  CC0 Public Domain
    //  Free for commercial use 
    //  No attribution required 
    background: url(../images/toronto-min.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
}


// bold links on hover
.active, .navbar-nav > li > a:hover {
    font-weight: bold;
}

.active-inverse {
    color: #fff;
}

// nicer formatting of errors
ul.alert {
    list-style: none;
}




// Make headers red on all but our main page
#portfolio,
#resume,
#blog,
#contact {
    color: black;
    h1,
    h2,
    h3,
    h4 {
        color: $brand-primary;
        text-align: center;
    }
}
p {
    font-size: 17.5px;

}

// Required for SmoothState.js transitions
.m-scene {
    /** Basic styles for an animated element */
    .scene_element {
        animation-duration: 0.7s;
        transition-timing-function: ease-in;
        animation-fill-mode: both;
    }
    /** An element that fades in */
    .scene_element--fadein {
        animation-name: fadeIn;
    }
    /** An element that fades in and slides up */
    .scene_element--fadeinup {
        animation-name: fadeInUp;
    }
    /** An element that fades in and slides from the right */
    .scene_element--fadeinright {
        animation-name: fadeInRight;
    }
    /** Reverse "exit" animations */
    &.is-exiting {
        .scene_element {
            animation-direction: alternate-reverse;
        }
    }
}

// An animated intro to grab peoples attention.
#intro {
    padding-top: 4*$navbar-height;
    letter-spacing: 1.5px;
    color: #fff;
    font-family: $font-family-serif;

    .inner-container {
        padding: 15px 10px;
        background: rgba(0, 0, 0, 0.6);
        border: 1px solid rgba(255,255,255,0.10);
    }

    h1,
    p {
        opacity: 0;
    }
    // animation-direction: forward;
    h1 {
        font-size: 50px;
        margin-top: 0px;
        animation: fadeInRight 0.6s linear 0.3s forwards;
    }
    p {
        animation: fadeInRight 0.6s linear 0.7s forwards;
    }
    .action-wrapper {
        a {
            opacity: 0;
            letter-spacing: 0px;
            animation: bounce-rotate 1.4s linear 0.7s forwards;
        }

        .btn {
            margin: 3px;
            padding: 10px 20px;
            border: 0 none;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }
}

.values {
    width: 360px;
    margin: 0 auto;
    .left {
        font-size: 17px;
        width: 100px;
        text-align: right;
        float: left;
        color: $brand-primary;
        font-weight: 700;
    }
    .right {
        font-size: 17px;
        padding-left:5px;
        width: 255px;
        text-align: left;
        float: right;
    }
}
#introduction {
    a {
        text-decoration: underline;
    }
}

// make sure it's visible on smaller devices
@media (max-width: 768px) {
    .navbar-default{ background: black;}
}
@media (max-height: 768px) {
        // Move the intro higher so it's against a black background on mobile devices
    // and flows nicer

    #intro {
        padding-top: 1.5*$navbar-height;
    }
}

@media (min-width: $screen-xs) {
    // Draw a line under the active link
    a.active-default::after {
        position: absolute;
        content: '';
        border-bottom: 3px solid black;
        width: 76%;
        height: 2px;
        bottom: 28%;
        left: 12%;
    }
    a.active-inverse::after {
        position: absolute;
        content: '';
        border-bottom: 3px solid white;
        width: 76%;
        height: 2px;
        bottom: 28%;
        left: 12%;
    }

}

/////////////////////////
// Animation Keyframes //
/////////////////////////
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY (100%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes bounce-rotate {
    0% {
        opacity: .2;
        transform: perspective(800px) rotateX(-80deg);
    }
    20% {
        opacity: 1;
    }
    60% {
        transform: perspective(800px) rotateX(20deg);
    }
    100% {
        opacity: 1;
        transform: perspective(800px) rotateX(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
