<!DOCTYPE html>
<html>

<head>
    <title> Cory Norris - Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="The personal portfolio website of Cory Norris. This page outlines a few of the projects I've completed recently and includes links to where you can browse them and their associated code.">
    <!-- Google Fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato|Open+Sans">
    <!-- Font Awesome 4.5.0 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Custom CSS (include Bootstrap) -->
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div id="smooth" class="m-scene">
        <div class="header scene_element scene_element--fadein">
            <% include ../partials/navigation-bar %>
        </div>
        <div class="content fullscreen scene_element scene_element--fadeinup">
            <section id="portfolio" class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Some of my Work</h1>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <a class="portfolio-item" href="https://codepen.io/corynorris/full/ZQLJrx/">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="/images/portfolio/bear.jpg" class="img-responsive" alt="An svg line drawing that appears to draw itself.">
                        </a>
                        <a class="portfolio-item" href="https://codepen.io/corynorris/full/KVzBZZ/">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="/images/portfolio/simon.jpg" class="img-responsive" alt="A game of simon with sounds and lights.">
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a class="portfolio-item" href="https://codepen.io/corynorris/full/MKJrwm/">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="/images/portfolio/button-styles.jpg" class="img-responsive" alt="10 different button hover effects.">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <a class="portfolio-item" href="https://play.google.com/store/apps/details?id=com.LastHackerGames.WobbleRocket">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="/images/portfolio/wobble-rocket-2.jpg" class="img-responsive" alt="A simple mobile game for Android.">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <a class="portfolio-item" href="https://codepen.io/corynorris/full/wMBKwx/">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="/images/portfolio/roman-calculator.jpg" class="img-responsive" alt="A calculator for roman numerals with some limitations.">
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a class="portfolio-item" href="https://codepen.io/corynorris/full/MKgzGJ/">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="/images/portfolio/quote-machine.jpg" class="img-responsive" alt="A randomly selected quote generator.">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <a class="portfolio-item" href="https://codepen.io/corynorris/full/OMyMEe/">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="/images/portfolio/tictactoe.jpg" class="img-responsive" alt="Tic-Tac-Toe against an AI opponent.">
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a class="portfolio-item" href="https://codepen.io/corynorris/full/EPxjGP/">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="/images/portfolio/pomodoro.jpg" class="img-responsive" alt="A pomodoro timer used to help motivate you to work.">
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- JQuery 2.1.4 -->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <!-- Smooth State 0.7.2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smoothState.js/0.7.2/jquery.smoothState.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- Custom Javascript -->
    <script src="js/app.js"></script>
</body>

</html>
